img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.td-top-align{
    margin-top: -45px;
}

.page-content-block{
    background-color:whitesmoke;
    padding: 30px;
}

.source-selection{
    width:70%;
    margin: auto;
    margin-bottom: 30px !important;
}
.channel-group-block{
    width: 70%;
    margin:auto ;
    margin-bottom: 25px;
    background-color: white;
}
.channel-block{    
    border: 1px solid lightgrey;
    border-bottom:hidden !important ;
}
.block-header{
    height: 25px;
    font-weight: bold;
    color: grey;
    background-color: whitesmoke;
}

.channel-info-block{
    border-bottom: 1px solid lightgrey;
}
.channel-info-block .channel-info{
    padding: 10px;
}
.channel-info-block .channel-info .subject-img{
    width: 10%;
    padding-left: 25px;
}
.channel-info-block .channel-info .channel-detail{
    width: 40%;
    padding-right: 25px;
}
.channel-info-block .channel-info .channel-detail .channel-title{
    font-weight: bold;
    padding-bottom: 15px;
    margin-top: 20px;
}
.channel-info-block .channel-info .channel-detail .channel-desc{
    font-weight: 400;
    padding-bottom: 20px;
}
.channel-info-block .channel-info .channel-instructor{
    width: 20%;
    padding-right: 15px;
}
.channel-info-block .channel-info .channel-instructor-img{
    /* width: 30%; */
    float: left;
    padding-left: 5%;
}
.channel-info-block .channel-info .channel-instructor-name{
    width: 70%;
    float: right;
    font: caption;
}
.channel-info-block .channel-info .channel-time{
    width: 20%;
    font: caption;
    font-size: 14px;
    font-weight: 500;
}