<div class="page-content-block">
  <div class="source-selection">
    <label> Load data from : </label>
    <select [(ngModel)]="selectedDataSource" (ngModelChange)="LoadPageData()" id="selectedDataSource">
      <option *ngFor="let item of dataSourceList" [value]="item.value">{{item.key}}</option>
    </select>
  </div>
  <div class="channel-group-block" *ngFor="let channelList of channelSessionGroupListByDate">
    <div class="block-header"><label>{{channelList.date}}</label></div>
    <div class="channel-block" *ngFor="let channel of channelList.channelInfoList">
      <!-- <ng-template let-channel> -->
      <div class="channel-info-block">
        <tr class="channel-info">
          <td class="subject-img">
            <!-- <div> <img src={{channel.subjectPhotoUrl}} /></div> -->
            <div class="td-top-align"> <img src="https://picsum.photos/200/300/?blur-1" /></div>

          </td>
          <td class="channel-detail">
            <div>
              <div class="channel-title"><label> <b>{{channel.title}}</b></label></div>
              <div class="channel-desc"> <label>{{channel.description}}</label></div>
            </div>
          </td>
          <td class="channel-instructor">
            <div class="td-top-align">
              <!-- <div class="channel-instructor-img"><img src={{channel.subjectPhotoUrl}} /></div> -->
              <div class="channel-instructor-img"><img src="https://picsum.photos/200/300/?blur=1" /></div>
              <div class="channel-instructor-name"> <label>{{channel.instructorName}}</label></div>
            </div>
          </td>
          <td class="channel-time">
            <div class="td-top-align"><label>{{channel.time}}</label></div>
          </td>
        </tr>
      </div>
      <!-- </ng-template> -->
    </div>
  </div>